- {{ summary -}}
{%- if pull_request %}
 ([#{{ pull_request.number }}]({{ pull_request.url }})
{%- if pull_request.external_author %}
 by [@{{ pull_request.user }}]({{ pull_request.user_url }})
{%- endif -%}
).
{%- elif commit %}
 ([`{{ commit.short }}`]({{ commit.url }})).
{%- elif not summary_has_terminal -%}
.
{%- endif %}
{%- for line in continuations %}
{%- if line %}
  {{ line }}
{%- endif %}
{%- endfor %}
